<div class="jumbotron jumbotron-fluid banner-img img-fluid text-center text-light">
    <div class="container-fluid">
      <h1 class="display-4">Avenue Chats</h1>
      <p class="lead">Connecting Dots...</p>
    </div>
  </div>
<div class="container">
    <div class="row">
      <div class="col-12 displayNoneMobile col-sm-4 col-md-4 people-list p-0" id="people-list">
  
        <div class="p-3 text-white textCapitalize textCenter">
          {{userInfo.firstName}} {{userInfo.lastName}}
          <i class="fa fa-circle online" *ngIf="disconnectedSocket == false"></i>
          <i class="fa fa-circle offline" *ngIf="disconnectedSocket == true"></i>
          <br>
          <br>
          <button (click)="logout()" class="btn btn-info customButton">Logout</button>
        </div>
  
        <ul class="list">
          <li class="p-2 typeOfChats">
            Online Users:
          </li>
          <li class="clearfix cursorPointer" [ngClass]="{'activeChat': user.chatting == true}"
            *ngFor="let user of userList" (click)="userSelectedToChat(user.userId, user.name)">
            <div class="userPresence" *ngIf="user.userId != userInfo.userId"  >
              <user-details [userBg]="'blue'" [userColor]="'white'" [userFirstName]="user.name" [userLastName]="''" [userStatus]="'online'" [messageRead]="user.unread"></user-details>
            </div>
          </li>
         
        </ul>
  
  
      </div>
  
      <div class="col-12 col-sm-8 col-md-8 chat">
        <div class="chat-header clearfix mobileMenu" *ngIf="receiverName">
          <first-char [name]="receiverName" [userBg]="'blue'" [userColor]="'white'" (notify)="showUserName($event)"></first-char>
  
          <div class="chat-about">
            <div class="chat-with">Chat with {{receiverName}}</div>
          </div>
        </div>
        <!-- end chat-header -->
  
        <div #scrollMe [scrollTop]="(scrollToChatTop)?0:scrollMe.scrollHeight" class="chat-history" *ngIf="receiverName">
  
          <ul>
            <li class="textCenter" *ngIf="receiverName">
  
              <span  class="cursorPointer" (click)="loadEarlierPageOfChat()">Load Previous Chat</span>
  
              <br>
  
              <span *ngIf="loadingPreviousChat == true">Loading...</span>
  
            </li>
            <li class="clearfix" *ngFor="let message of messageList">
              <div class="message-data" [ngClass]="{'align-right': message.senderId == userInfo.userId}">
                <span class="message-data-time">{{message?.createdOn | date: 'medium' }}</span> &nbsp; &nbsp;
                <span class="message-data-name floatLeft" *ngIf="message.senderId != userInfo.userId">
                  <i class="fa fa-circle online"></i> {{ message?.senderName }}</span>
                <span class="message-data-name" *ngIf="message.senderId == userInfo.userId">{{ message?.senderName }}</span>
                <i class="fa fa-circle me" *ngIf="message.senderId == userInfo.userId"></i>
  
              </div>
              <div class="message" [ngClass]="{'float-right other-message': message.senderId == userInfo.userId, 'my-message': message.senderId != userInfo.userId}">
                {{message?.message | removeSpecialCharPipe: '#' | removeSpecialCharPipe: '$'}}
              </div>
            </li>
  
          </ul>
  
        </div>
        <div *ngIf="!receiverName" class="col-sm blankContent">
          Click on user for start a chat!!!
        </div>
        <!-- end chat-history -->
  
        <div class="chat-message clearfix p-2" *ngIf="receiverName">
          <textarea name="message-to-send" id="message-to-send" (keydown)="sendMessageUsingKeypress($event)" [(ngModel)]="messageText"
            placeholder="Type your message" rows="3"></textarea>
  
          <button class="btn btn-block btn-outline-primary" (click)="sendMessage()">Send</button>
  
        </div>
        <!-- end chat-message -->
  
      </div>
  
    </div>
    <!-- end chat -->
  
  </div>
  <!-- end container -->
  
  
  
  