<!-- banner -->
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="[ '/all']">Avenue Blogs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link"[routerLink]="[ '/feed']">Arena</a>
          </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="[ '/create']">Post<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/all']">Home</a>
      </li>
    </ul>
  </div>
</nav>
<!-- navbar end -->
<div class="jumbotron jumbotron-fluid bg-secondary text-light text-center">
  <div class="container">
    <h1 class="display-4">Avenue Blogs</h1>
  </div>
</div>
<!-- banner-end -->
<div class="container">
  <div class="row" *ngIf="currentBlog">
    <div class="col-md-12">
      <h2>{{currentBlog.title}}</h2>
      <!-- <small>blog number - {{currentBlog.blogId}}</small> -->
      <p>posted by {{currentBlog.author}} on {{currentBlog.created | date}}</p>
      <p *ngIf="currentBlog.tags.length>0">tags : <span *ngFor="let tag of currentBlog.tags;let first=first;let last=last">{{tag}}{{last ? '' : ', '}}</span></p>
      <hr>
      <div [innerHtml]="currentBlog.bodyHtml"></div>
      <hr>
      <h5>Category - {{currentBlog.category}}</h5>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="currentBlog">
    <div class="col-md-4">

      <a class="btn btn-outline-primary"  [routerLink]="['/edit',currentBlog.blogId]">Edit </a>

    </div>
    <div class="col-md-4">

      <a class="btn btn-outline-danger" (click)="deleteThisBlog()">Delete </a>

    </div>
    <div class="col-md-4">

      <a class="btn btn-outline-warning" (click)="goBackToPreviousPage()">Go Back </a>
    </div>
  </div>

</div>